* {
	margin: 0px;
	padding: 0px;
}

.photo {
	width: 1000px;
}

#top {
	width: 1200px;
}

.title {
	width: 500px;
	height: 500px;
	margin-top: -450px;
	margin-left: 600px;
}

#head {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Libre Baskerville', serif;
	font-size: 50px;
	color: white;
}

#intro {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	font-family: 'Crimson Text', serif;
	color: white;
}

.box1 {
	width: auto;
	height: 600px;
	background-color: red;
}

.box2 {
	width: auto;
	height: 600px;
	background-color: green;
}

.box3 {
	width: auto;
	height: 600px;
	background-color: blue;
}

.box4 {
	width: auto;
	height: 600px;
	background-color: yellow;
}














